.formModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeIcon {
  display: none;
}

.input {
  height: 35px;
  margin-bottom: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  color: var(--color-white);
}

.amountInput,
.dateInput {
  width: 280px;
  text-align: start;
  padding-left: 12px;
  margin-bottom: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: inherit;
  color: var(--color-white);
  outline: none;
}

.commentInput {
  width: 280px;
  margin-bottom: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgba(255, 255, 255, 0.4);
  background-color: inherit;
  color: var(--color-white);
  padding-left: 8px;
  padding-bottom: 52px;
  outline: none;
}

/* .amountInput, .dateInput, .commentInput:hover {
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
} */

.navig {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  color: #623f8b;
  text-align: center;
  font-size: 18px;
  /* font-family: Poppins; */
  letter-spacing: 1.8px;
  text-transform: uppercase;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 252, 252);
}

.link:hover {
  background: rgb(252, 252, 252, 0.9);
}

.error_message {
  position: absolute;
  top: 294px;
  font-size: 14px;
  color: var(--color-white);
}

.button {
  background: var(--color-gradient-btn);
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  margin-top: 12px;
  color: #fbfbfb;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.20);
}

.button:hover {
  background: linear-gradient(167deg,
      #ffc727 20%,
      #9e40ba 61.46%,
      #7000ff 80.54%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonCancel {
  background-color: var(--color-white);
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  margin-top: 12px;
  color: #623f8b;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.20);
}

.editModalTitle {
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 42px;
}

.modalBody {
  position: absolute;
  width: calc(320px - 40px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 20px;
  border-radius: 8px;
  background: radial-gradient(rgb(60, 40, 160), rgb(68, 53, 110));
}

.inputLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
}

.selectCategory {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
  backdrop-filter: blur(50px);
}


/* tablet */

@media screen and (min-width: 768px) {

  .closeIcon {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      color: var(--color-white);
      width: 16px;
      height: 16px;
      z-index: 8;
    }

  .amountInput,
  .dateInput {
    width: 166px;
    text-align: center;
    padding-bottom: 8px;
    z-index: -3;
  }

  .commentInput {
    width: 394px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: var(--color-white);
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .buttonCancel {
    margin-top: 20px;
  }

  .editModalTitle {
    font-size: 30px;
  }

  .modalBody {
    position: absolute;
    width: calc(540px - 80px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 73px;
    border-radius: 8px;
  }

  .inputLine {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

}

.switchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.inputLine {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
}

.selectCategory {
  width: 394px;
  border-radius: 8px;
  backdrop-filter: blur(50px);
  margin-bottom: 40px;
}