/* .Anty_switch {
  margin-bottom: 60px;
} */

@media screen and (max-width: 320px) {
}
/* mobile */
@media screen and (min-width: 375px) {
}

/* tablet */

@media screen and (min-width: 768px) {
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .formModal {
    width: 533px;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 208px; */
    /* padding-bottom: 80px; */
    /* margin-top: 75px; */
    /* margin-bottom: 75px; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* background-image: url(../../images/logo.png); */
    /* background-position-x: 175px; */
    /* background-position-y: 80px; */
    /* background-repeat: no-repeat; */
  }
  .input {
    height: 35px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: var(--color-white);
  }
  .error_message {
    position: absolute;
    top: 280px;
    font-size: 14px;
    color: var(--color-dashboard-text);
  }
  .amountInput,
  .dateInput {
    width: 180px;
    height: 35px;
    text-align: center;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: var(--color-white);
    outline: none;
  }
  .commentInput {
    width: 394px;
    height: 35px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
    color: var(--color-white);
    padding-left: 8px;
    outline: none;
  }

  .navig {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    color: #623f8b;
    text-align: center;
    font-size: 18px;
    /* font-family: Poppins; */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 252, 252);
  }
  .link:hover {
    background: rgb(252, 252, 252, 0.9);
  }
  .button {
    background: var(--color-gradient-btn);
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin-top: 12px;
  }
  .button:hover {
    background: linear-gradient(
      167deg,
      #ffc727 20%,
      #9e40ba 61.46%,
      #7000ff 80.54%
    );
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buttonCancel {
    background-color: var(--color-white);
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin-top: 12px;
  }

  .editModalTitle {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 40px 80px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
  }

  .modalBody {
    position: absolute;
    width: 540px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 20px;

    border-radius: 8px;
    background: var(--color-backgroundMain);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    /* backdrop-filter: blur(50px); */
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
.closeIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-white);
  width: 16px;
  height: 16px;
}

.switchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.inputLine {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
}

.selectCategory {
  /* background: inherit; */
  width: 396px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  margin-bottom: 40px;
}
