@media screen and (max-width: 320px) {
}
/* mobile */
@media screen and (min-width: 375px) {
}

/* tablet */

@media screen and (min-width: 768px) {
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .form {
    width: 533px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 208px;
    padding-bottom: 80px;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url(../../images/logo.png);
    background-position-x: 175px;
    background-position-y: 80px;
    background-repeat: no-repeat;
  }
  .input {
    width: 409px;
    height: 35px;
    margin-bottom: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: inherit;
  }
  .navig {
    display: flex;
    flex-direction: column;
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    color: #623f8b;
    text-align: center;
    font-size: 18px;
    /* font-family: Poppins; */
    letter-spacing: 1.8px;
    text-transform: uppercase;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(252, 252, 252);
  }
  .link:hover {
    background: rgb(252, 252, 252, 0.9);
  }
  .button {
    background: linear-gradient(
      167deg,
      #ffc727 0%,
      #9e40ba 61.46%,
      #7000ff 90.54%
    );
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin-top: 12px;
  }
  .button:hover {
    background: linear-gradient(
      167deg,
      #ffc727 20%,
      #9e40ba 61.46%,
      #7000ff 80.54%
    );
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .addModalTitle {
    color: #fbfbfb;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
}
