.radioBtnSpan {
  color: var(--color-white);
  padding: 0 24px;
  align-items: middle;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

/* .radioBtnSpanRight {
  color: var(--color-white);
  padding: 0 24px;
  text-align: center;
  align-items: middle;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
} */

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 254px;
  margin-bottom: 40px;
}

.radioBtnLabel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
