.form {
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  background-image: url(../../images/logo.png);
  background-size: 128px 54px;
  background-position-x: 96px;
  background-position-y: 23px;
  background-repeat: no-repeat;
}
.input {
  display: flex;
  width: 240px;
  height: 35px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 0;
  padding-right: 0;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  outline: none;
}
.input::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
}
.input_name {
  display: flex;
  margin-top: 117px;
  margin-left: 20px;
  margin-right: 20px;
  width: 240px;
  height: 35px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 0;
  padding-right: 0;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  outline: none;
}
.input_name::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
}
.input_last {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  width: 240px;
  height: 35px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 0;
  padding-right: 0;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  outline: none;
}

.navig {
  display: flex;
  flex-direction: column;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 23px;
  border: none;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  color: var(--color-text-button);
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
}
.link:hover {
  background: rgb(252, 252, 252, 0.9);
}
.button {
  margin-top: 40px;
  width: 280px;
  height: 50px;
  flex-shrink: 0;
  background: var(--color-gradient-btn);
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 20px;
}
.button:hover {
  background: linear-gradient(
    167deg,
    #ffc727 20%,
    #9e40ba 61.46%,
    #7000ff 80.54%
  );
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tittle {
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.error_message {
  position: absolute;
  left: 20px;
  color: var(--color-white);
}
.icons_name {
  position: absolute;
  top: 381px;
  left: 25px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
.icons_email {
  position: absolute;
  top: 120px;
  left: 25px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
.icons_password {
  position: absolute;
  top: 197px;
  left: 25px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
.icons_confirmpassword {
  position: absolute;
  top: 278px;
  left: 25px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
.strength_bar {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  width: 280px;
  margin-bottom: 40px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .form {
    width: 533px;
    border-radius: 8px;
    padding-top: 188px;
    padding-bottom: 60px;
    margin: 205px 118px;
    background-color: var(--color-whitw-10);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    background-size: 182px 76px;
    background-position-x: 175px;
    background-position-y: 80px;
  }
  .input {
    width: 369px;
    height: 35px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .input_name {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 369px;
    height: 35px;
  }
  .input_last {
    margin-right: 0px;
    margin-left: 0px;
    width: 369px;
    height: 35px;
    padding-left: 40px;
  }
  .button {
    margin-top: 52px;
    width: 300px;
  }
  .link {
    width: 300px;
    margin-bottom: 0;
  }
  .error_message {
    left: 70px;
  }
  .icons_name {
    top: 447px;
    left: 70px;
  }
  .icons_email {
    top: 192px;
    left: 70px;
  }
  .icons_password {
    top: 268px;
    left: 70px;
  }
  .icons_confirmpassword {
    top: 346px;
    left: 70px;
  }
  .strength_bar {
    margin-top: 12px;
  }
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .form {
    padding-top: 188px;
    padding-bottom: 60px;
    /* margin-top: 54px;
    margin-bottom: 54px; */
    margin: 54px 0;
    background-position-x: 175px;
    background-position-y: 80px;
  }
}
