.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-whitw-10);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  background-image: url(../../images/logo.png);
  background-size: 128px 54px;
  background-position-x: 96px;
  background-position-y: 23px;
  background-repeat: no-repeat;
}
.input {
  display: flex;
  width: 100%;
  height: 35px;
  margin-top: 40px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 0;
  padding-right: 0;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  outline: none;
}
.input::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
}
.input_email {
  display: flex;
  margin-top: 117px;
  width: 100%;
  height: 35px;
  font-size: 18px;
  padding-left: 40px;
  padding-top: 0;
  padding-right: 0;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
  outline: none;
}
.input_email::placeholder {
  position: absolute;
  left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--color-white-60);
}
.navig {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 98px;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  color: var(--color-text-button);
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
}
.link:hover {
  background: rgb(252, 252, 252, 0.9);
}
.button {
  background: var(--color-gradient-btn);
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 50px;
  margin-top: 40px;
}
.button:hover {
  background: linear-gradient(
    167deg,
    #ffc727 20%,
    #9e40ba 61.46%,
    #7000ff 80.54%
  );
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tittle {
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.error_message {
  position: absolute;
  left: 40px;
  color: var(--color-dashboard-text);
}
.icons_email {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
.icons_password {
  position: absolute;
  top: 198px;
  left: 30px;
  width: 24px;
  height: 24px;
  color: var(--color-white-40);
}
@media screen and (min-width: 320px) {
  .form {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-whitw-10);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(50px);
    background-image: url(../../images/logo.png);
    background-size: 128px 54px;
    background-position-x: 96px;
    background-position-y: 23px;
    background-repeat: no-repeat;
  }
  .input {
    width: 240px;
  }
  .input_email {
    width: 240px;
  }
  .navig {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link {
    width: 280px;
  }
  .button {
    width: 280px;
  }
}
/* mobile */
@media screen and (min-width: 375px) {
}
/* tablet */
@media screen and (min-width: 768px) {
  .form {
    width: 533px;
    border-radius: 8px;
    padding-top: 208px;
    padding-bottom: 80px;
    margin: 275px 117px;
    background-color: var(--color-whitw-10);
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
    background-size: 182px 76px;
    background-position-x: 175px;
    background-position-y: 80px;
  }
  .input {
    width: 369px;
  }

  .input_email {
    margin-top: 0;
    width: 369px;
  }

  .link {
    margin-bottom: 0;
    width: 300px;
    height: 50px;
  }
  .button {
    width: 300px;
    height: 50px;
    margin-top: 52px;
  }
  .error_message {
    left: 70px;
  }
  .icons_email {
    top: 213px;
    left: 70px;
  }
  .icons_password {
    top: 290px;
    left: 70px;
  }
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .form {
    margin: 75px 374px;
  }
}
