@import url('../../index.css');

.layOut {
  width: 320px;
  display: flex;
  flex-direction: column;
  background: var(--color-backgroundMain);
  margin: 0 auto;
}
.VisiblePageCurrency {
  background: var(--color-whitw-10);

  border-radius: 0px 0px 8px 8px;
}

@media screen and (max-width: 320px) {
  .layOut {
    max-width: 320px;
  }
}
/* mobile */
@media screen and (min-width: 320px) {
  .layOut {
    width: 280px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .position {
    display: flex;
    gap: 32px;
  }
  .navigate_balance {
    flex: 1;
  }
  .VisiblePageCurrency {
    flex: 1;
  }
  .layOut {
    width: 704px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .layOut {
    flex-direction: row;
    width: 1248px;
    padding: 0 16px;
  }
  .navigate_balance {
    width: 480px;
  }
  .position {
    border-right: 2px solid var(--color-white-60);
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
