@media screen and (min-width: 320px) {
  .modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(3.5px);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background: rgba(34, 13, 91, 0.23);
      backdrop-filter: blur(3.5px);
    }
  }
}
/* mobile */
@media screen and (min-width: 375px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(3.5px);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background: rgba(34, 13, 91, 0.23);
      backdrop-filter: blur(3.5px);
    }
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(3.5px);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background: rgba(34, 13, 91, 0.23);
      backdrop-filter: blur(3.5px);
    }
  }
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(34, 13, 91, 0.23);
    backdrop-filter: blur(3.5px);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background: rgba(34, 13, 91, 0.23);
      backdrop-filter: blur(3.5px);
    }
  }
}
