@media screen and (min-width: 320px) {
  .modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* height: 800px; */
    display: flex;
    justify-content: center;
    background-image: url(../../images/mobile/mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background-image: url(../../images/mobile/mobile@2x.jpg);
    }
  }
}
/* mobile */
@media screen and (min-width: 375px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-image: url(../../images/mobile/mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background-image: url(../../images/mobile/mobile@2x.jpg);
    }
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-image: url(../../images/tablet/register_tablet.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background-image: url(../../images/tablet/register_tablet@2x.jpg);
    }
  }
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .modalBack {
    display: flex;
    justify-content: center;
    background-image: url(../../images/desktop/register_destop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .modalBack {
      background-image: url(../../images/desktop/register_destop@2x.jpg);
    }
  }
}
/* ______________________________________________________________________ */
