.CurrencyPage {
  height: 200px;
  background-color: rgb(231, 201, 201);
}

.Currency th{
	font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}
.Currency td{
	font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;

}
.Currency{
  width: 100%;
  border: none;
  border-collapse: collapse;
}
.Currency th{
  height: 56px;
  text-align: center;
  background-color: #FFFFFF33;
  padding: 0px;
}
.Currency td{
  padding: 12px;
  height: 24px;
  text-align: center;
}
