.Balance{
    background: #523B7E99;
    padding-left: 56px;
    padding-top: 8px;
    padding-bottom: 12px;

    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

    color: #FFFFFF66;
    /* кольорова гамма зміниться коли буде фон */

}

.Money{
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}