@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-gradient-btn: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  --color-purple-gradient-some: #4b1e7c;
  --color-blue-gradient-some: #302e8e;
  --color-yellow: #ffb627;
  --color-violet: #734aef;
  --color-white: #fbfbfb;
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-white-60: rgba(255, 255, 255, 0.6);
  --color-whitw-10: rgba(74, 86, 226, 0.1);
  --color-text-button: #623f8b;
  --color-dashboard-text: #ff868d;
  --color-black-bcg: #101010;
  --color-small-form-color: linear-gradient(
    360deg,
    rgba(83, 61, 186, 0.7) 0%,
    rgba(80, 48, 154, 0.7) 35.94%,
    rgba(106, 70, 165, 0.52) 61.04%,
    rgba(133, 93, 175, 0.13) 100%
  );
  --color-backgroundMain: linear-gradient(
    207deg,
    rgba(52, 31, 160, 0.8) 44.63%,
    rgba(101, 35, 146, 0.8) 88.57%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  /* max-width: 100%; */
}
button {
  font-family: inherit;
  cursor: pointer;
}
.icon_class {
  width: 24px;
  height: 24px;
}
.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 280px;
    padding: 0 20px;
    margin: 0 auto;
    /* max-width: 320px; */
  }
}
/* mobile */
@media screen and (min-width: 320px) {
  .container {
    width: 280px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

/* tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 0 32px;
  }
  .icon_class {
    width: 18px;
    height: 18px;
  }
}
/* десктоп */

@media screen and (min-width: 1280px) {
  .container {
    width: 1248px;
    padding: 0 16px;
  }
}
